#aklogo {
    width: 10%;
    position: absolute;
    top:30px;
    left:30px;
}

#arlogo {
    bottom: 30px;
    left:30px;
    position: absolute;
    width: 15%;
}

#akinfo {
    position: absolute;
    margin-left: 12%;
    padding: 0 0 0 0;
    color: lightgrey;
    font-family: Verdana;
}

#onlinelogo{
    position: absolute;
    right: 0;
    padding: 30px;
    width: 10%;
}

#titleslide {
    background: white;
    color: black;
    position: absolute;
    width: 100%;
    margin-bottom: 40px;
}

#titleslide img{
    box-shadow: none;
    border: 0;
}

#titleslide #sessionbanner {
    background: #7EB23B;
    margin-top: 30px;
    margin-bottom: 20px;
    height: 270px;
    width: 100%;
}

#sessionbanner #logo {
    vertical-align: middle;
    float: left;
    width: 40%;
    margin: 20px 0 0 20px;
}

#sessionbanner #sessiontitle {
    width: 50%;
    float: left;
    margin: 50px 0 0 15px;
}

#titleslide span {
    font-family: ALusine;
    font-weight: normal;
}

#titleslide #sponsors {
    width: 80%;
    margin: auto;
}

@font-face {
    font-family: ALusine;
    src: url(../fonts/ALUSRG_.TTF);
}